/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2db1d5;
  --ifm-color-primary-dark: #24a7cb;
  --ifm-color-primary-darker: rgb(33, 164, 201);
  --ifm-color-primary-darkest: rgb(22, 153, 189);
  --ifm-color-primary-light: #37b9dd;
  --ifm-color-primary-lighter: #43bfe1;
  --ifm-color-primary-lightest: #55c7e7;
  --ifm-code-font-size: 95%;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #2db1d5;
  --ifm-color-primary-dark: #24a7cb;
  --ifm-color-primary-darker: rgb(33, 164, 201);
  --ifm-color-primary-darkest: rgb(22, 153, 189);
  --ifm-color-primary-light: #37b9dd;
  --ifm-color-primary-lighter: #43bfe1;
  --ifm-color-primary-lightest: #55c7e7;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}
